<h1> Escolha sua receita </h1>
<h4> Navegue por tipo de receita </h4>

<% if @recipe_types.any? %>
  <% @recipe_types.each do |recipe_type| %>
    <ul>
      <li><%= link_to recipe_type.name, recipe_type_recipes_path(:recipe_type_id)%></li>
    </ul>
  <% end %>
<% else %>
  <p> Deu ruim </p>
<% end %>
