<h1> Escolha sua receita </h1>
<h4> Navegue por tipo de receita </h4>

<% if @types.any? %>
  <% @types.each do |type| %>
    <ul>
      <li><%= link_to type.name, recipes_recipes_from_type_path(recipe_type: @type.name) %></li>
    </ul>
  <% end %>
<% else %>
  <p> Deu ruim </p>
<% end %>
